.popupExibitionButton {
  border-color: #1890ff;
  width: 100%;
}
.contentBody {
  padding: 16px;
}

.popupContainer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}
