$primary: #0058ff;
$PrimaryBtnColor: #3471FF;
$title: #001333;
$cardBack: #e5eeff;
$white: #ffffff;
$creamy: #f9f9f9;
$lightGrey: #c7c7c7;
$midGreySubtitle: #6d6d6d;
$darkGrey: #484848;
$black: #000000;
$backgroundPrimary: #f9f6ff;
$mobileMenuItem: #f0f5ff;
$red: #ff2c2c;
$backgroundContainerHeader: #fafcff;
$backgroundContainer: #f7f9fc;
$borderRadius-light: 8px;
$borderRadius-medium: 12px;
$borderRadius-medium: 16px;
$h1: 3rem;
$h2: 2rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: .8rem;
$p: 0.875rem;
$NavPadding: 1rem 3rem;
$marginFromTitle: 8rem;